NEXT_PUBLIC_SUPABASE_URL=https://rxpkvexhvbzbtdeacjyt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_pub_key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/admin/sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/admin/dashboard

NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
